.award-list{
	display: flex;
	position: absolute;
	top: 50%;
	transform: translateY(-35%);
	flex-wrap: nowrap;
	opacity: 0;
	transition: all .5s ease;
}
.award-list.active{
	opacity: 1;
	transform: translateY(-50%);
}
@media only screen and (max-width: 980px){
	.award-list{
		padding: 50px;
		position: static;
		transform: none;
		justify-content: space-between;
		flex-wrap: wrap;
		opacity: 0;
		transform: translateY(10%);
	}
	.award-list.active{
		opacity: 1;
		transform: translateY(0);
	}
}
@media only screen and (max-width: 780px){
	.award-list{
		padding: 50px 25px;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: column;
	}
}