.sidebar{
	position: relative;
	height: 100%;
	width: 500px;
	z-index: 20;
	background: #ffffff;
}
.sidebar-text{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-6%,-50%);
	width: 650px;
}
.sidebar .logo{
	text-align: center;
	padding-top: 35px;
	padding-left: 80px;
}
.sidebar .logo img{
	width: 100px;
}
.sidebar h1{
	font-size: 70px;
	font-weight: 900;
	color: #252839;
	line-height: 90px;
	letter-spacing: 1px;
	padding-bottom: 35px;
	margin-bottom: 45px;
	position: relative;
}
.sidebar h1:after{
	content: '';
	height: 5px;
	width: 150px;
	position: absolute;
	display: block;
	background: #252839;
	bottom: 0;
	left: 0;
}
.sidebar h1 span{
	color: #ffffff;
}

.sidebar p{
	color: #777777;
	width: 350px;
	font-weight: 300;
	letter-spacing: .4px;
	font-size: 20px;
	line-height: 28px;
	transform: translateX(-100px);
}
.sidebar p a{
	color: #31c6de;
}

.sidebar .footer{
	position: absolute;
	z-index: 25;
	bottom: 0; left: 0;
	right: 0;
	text-align: center;
	padding: 0;
}

.sidebar .footer a{
	display: inline-block;
	padding: 15px 10px;
	opacity: .6;
	color: #000000;
	font-size: 14px;
	transition: opacity .3s ease;
}
.sidebar .footer a:hover{
	opacity: 1;
}

@media only screen and (max-width: 1400px){
	.sidebar  			{width: 400px;}
	.sidebar-text 		{transform: translate(-14%,-50%);}
	.sidebar p{
		width: 315px;
		transform: translateX(-35px);
	}
}

@media only screen and (max-width: 980px){
	.sidebar{
		width: 100%;
		height: auto;
	}
	.sidebar-text{
		position: static;
		width: 100%;
		padding: 50px;
		transform: translate(0,0);
	}
	.sidebar .logo 	{padding-left: 0;}
	.sidebar h1 span 	{color: #252839;}
	.sidebar p{
		width: 80%;
		transform: translateX(0);
	}
	.sidebar .footer 	{display: none;}
}
@media only screen and (max-width: 780px){
	.sidebar-text 		{padding: 50px 25px;}
	.sidebar p 			{width: 100%;}
}
@media only screen and (max-width: 600px){
	.sidebar h1{
		font-size: 40px;
		line-height: 60px;
	}
}